.add-product-container {    
    padding: auto;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 30px;
    gap: 20px;
    width: 400px;
}
.label-section {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    gap: 30px;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 75%;
}

.input-group input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.action-button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    color: white;
    margin-bottom: 15px;
}

.submit-btn {
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.submit-btn {
    background-color: #7C3AED;
    color: white;
    border: none;
    transition: all 0.2s ease-in-out;
}
.submit-btn:hover {
    background-color: #6D28D9; 
    border-color: #5B21B6;
    box-shadow: 0 0 10px #6D28D9;
}

.add-product-button:hover {
    background-color: #7C3AED;
}